* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(35, 35, 35);
    margin: 0;
    border-bottom: 1.5px solid rgb(122, 122, 122);
    align-items: center;
    height: 8vh;
    max-height: 80px;
}

.reddit-logo {
    height: 30px;
    width: 100px;
    background-image: url("/IMAGES/reddit-logo3.jpg");
    display: block;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    font-size: larger;
    color: honeydew;
}

.reddit-home {
    height: 30px;
    width: 100px;
}

.reddithome-dropdown {
    display: none;
} 

.search-bar {
    height: 40px;
    width: 450px;
    border-radius: 10px;
    border: 1.5px solid rgb(122, 122, 122);
    background-color: rgb(35, 35, 35);
}

.search-bar::placeholder {
    color: rgb(122, 122, 122);
}

.popularbtn {
    
}


